@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

h1, h2, h3, h4 {
  font-family: 'Exo', sans-serif;
}
a, span, p, ul, li {
  font-family: 'Montserrat', sans-serif;
}
.activePagi{
    background-color: #4f46e5; /* Couleur de fond de la pagination active */
    color: #fff; /* Couleur du texte de la pagination active */
    border: 1px solid #4f46e5; /* Bordure de la pagination active */
    padding: 5px 10px; /* Espacement interne de la pagination active */
    border-radius: 10%; /* Bordure arrondie de la pagination active */
    cursor: pointer; /* Curseur au survol de la pagination active */
}


.maincontainer {
  width: 100%;
  height: auto;
}

.wallpaper {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.montage-pc{
  width: 100%;
  height: auto;
}
.mirage {
  height: auto;
  width: 100%;
}
.embla {
  overflow: hidden;
  position: relative;
}
.embla__container {
  display: flex;
  position: relative;
}

.embla__container, p:hover{
  color: black;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

/* .svgCarousel{
  filter: invert(47%) sepia(50%) saturate(7388%) hue-rotate(224deg) brightness(99%) contrast(92%);
} */


@media screen and (max-width: 768px) {
  .wallpaper {
    width: 100%;
    height: 500px;
  }
  iframe{
    width: auto;
    height: auto;
  }

  

  .mirage {
    height: auto;
    width: 50vh;
  }
  .embla__container::after {
    content: "";
    flex: 0 0 100%;
    min-width: 0;
    display: none;
  }
}

@media screen and (max-width: 576px) {
  
}

@media screen and (max-width: 992px) {
 

  .mirage {
    display: none; /* Pour masquer l'élément */
  }
}
